.card-label__container {
  position: absolute;
  bottom: 130px;
  right: 0;

  & .card-label__content {
    background-color: #0d0d0d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    padding: 0px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}